html {
    background-image: url("http://i.imgur.com/lI0XMg4.png");
}

body {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h1 {
    font-family: "League Gothic", Times, Sans;
    font-size: 72px
}

hr {
    width: 80%;
}

input, select {
    margin: 10px;
}

.text-input {
    height: 300px;
    width: 500px;
    font-family: "Times New Roman", Times, Sans;
    font-size: 16px;
}

.text-readout-original {
    display: inline-block;
    width: 500px;
    margin: 10px;
    padding: 10px;
    font-family: "Times New Roman", Times, Sans;
    font-size: 16px;
    background-color: rgba(255, 0, 0, 0.3);
}

.text-readout-original .diff {
    background-color: rgba(255, 0, 0, 0.5);
}

.text-readout-translated {
    display: inline-block;
    width: 500px;
    margin: 10px;
    padding: 10px;
    font-family: "Times New Roman", Times, Sans;
    font-size: 16px;
    background-color: rgba(0, 255, 0, 0.3);
}

.text-readout-translated .diff {
    background-color: rgba(0, 255, 0, 0.5);
}
